API reference
=============

This is a full reference of the functions, classes and modules of the {{ package }} package.

Hello module
^^^^^^^^^^^^

An example for adding new modules to the API reference

.. automodule:: {{ package }}.hello
   :members:
   :undoc-members:
   :show-inheritance:
